.react-search-field {
  margin-left: 7.5%;
  border-radius: 4px;
  border: 2px solid #9dcfd4 !important;
  background-color: #9dcfd4;
  height: 38px !important;

  input::placeholder {
    color: white !important;
  }
  .react-search-field-input {
    background-color: #9dcfd4;
    width: 165px;
    color: white !important;
  }
  button {
    border: 0px !important;

    background-color: #9dcfd4 !important;
  }
  svg {
    fill: white !important;
  }
}

.image-cocktails {
  margin-right: 20px;
  img {
    max-width: 80%;
  }

  @media screen and (min-width: 900px) {
    img {
      max-width: 75%;
    }
  }
  @media screen and (min-width: 1300px) {
    img {
      width: 40%;
    }
  }
}

.ideas-list {
  .MuiPaper-rounded {
    margin: 10px;
    @media screen and (max-width: 600px) {
      width: 85%;
    }
  }
  .MuiPaper-rounded:hover {
    background-color: #9dcfd4;
  }
}

.ideas-title {
  color: #9dcfd4;
  text-align: center;
  margin: 20px 0px 0px 0px;
  @media screen and (min-width: 900px) {
    width: 50%;
  }
}
